@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
            </ul>
        </div>
    </div>
</div>*@
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
   @* <a class="navbar-brand" href="#">@Ht</a>*@
    @Html.ActionLink("Vidly", "Index","Home", null , new { @class="navbar-brand"})
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Customers", "Index", "Customers", null, new { @class ="nav-link" })
                @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
            </li>
            <li>
                @Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
</nav>

@*<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
    <div class="container-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
             Left Side Of Navbar 
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Registration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="">Overview</a>
                        <a class="nav-link" href="">Registration</a>
                    </div>
                </li>
            </ul>

             Right Side Of Navbar 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="dropdown-item" href="{{ route('admin.logout') }}"
                       onclick="event.preventDefault();
                       document.getElementById('logout-form').submit();">
                       Logout
                    </a>

                    <form id="logout-form" action="{{ route('admin.logout') }}" method="POST" style="display: none;">
                        @Html.AntiForgeryToken()
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>*@
